.container {
    margin: 50px 0;
    text-align: center;  
}

.container h1 {
    color: #1a3dec;
    margin-bottom: 20px;
}

.container p {
    color: rgb(0, 0, 0);
}

.container a {
    text-decoration: none;
    color: #304ff2;
    background-color: #bbdefb;
    padding: 3px 5px;
    border-radius: 5px;
    transition: 0.2s all ease-in-out;
}

.container a:hover {
    color: #bbdefb;
    background-color: #304ff2;
}

